//
// Prototype styles (using the Sass CSS preprocessor)
//
//
// First, we're importing the design system from the npm package
//
$static-font-path: '/assets/fonts/webfonts';
@import 'node_modules/@salesforce-ux/design-system/scss/index'; //
// Then, we're importing some styles via Sass partials (filenames starting with a "_")
//
@import 'footer'; //
// We can also add styles directly in this file, like so:
//
// Push down the global navigation below the header using a placeholder element
.app-header-placeholder {
  // A note on Design Tokens in Sass:
  //
  // $height-header is a Sass variable pointing to a Design Token
  // Design tokens are listed at:
  // https://www.lightningdesignsystem.com/design-tokens/
  //
  // This is how you leverage Design Tokens in Sass:
  height: $height-header;
}
// Wrap the prototype in a scrollable container
.app-wrapper {
  overflow: auto;
  position: absolute;
  -webkit-overflow-scrolling: touch;
  top: $height-context-bar + $height-header;
  bottom: 0;
  right: 0;
  left: 0;
}
//Prototype Styles
.single-line {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.multi-line {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-height: 3.5rem;
  overflow: hidden;
  white-space: normal;
}
.paragraph {
  margin-bottom: $spacing-xx-small;
  margin-right: $spacing-x-small;
}
.slds-grid:last-child .paragraph:last-child {
  margin-bottom: 0;
}
.paragraph:last-child,
.single-line:last-child {
  margin-left: auto;
  margin-right: 0;
}
.slds-panel--splitview {
  border-right: $border-width-thin solid $color-border;
  border-radius: 0;
  .slds-page-header {
    padding: $spacing-small;
  }
}
.slds-theme--inverse {
  .slds-table--fixed-layout thead {
    background-color: $color-background-alt-inverse;
  }
  .slds-table {
    background-color: $color-background-alt-inverse;
  }
  .slds-table:not(.slds-no-row-hover) tbody tr:hover > td,
  .slds-table:not(.slds-no-row-hover) tbody tr:hover > th {
    background-color: $color-background-inverse;
  }
  .slds-table--bordered tbody td,
  .slds-table--bordered tbody th {
    border-top: $border-width-thin solid $color-border-separator-inverse;
  }
  .slds-table--bordered {
    border-top: $border-width-thin solid transparent;
    border-bottom: $border-width-thin solid $color-border-separator-inverse;
  }
  .slds-text-color--weak {
    color: $color-text-inverse-weak;
  }
  .slds-text-heading--label {
    color: $color-text-inverse-weak;
  }
  .slds-page-header {
    border-bottom: $border-width-thin solid $color-border-separator-inverse;
    background: $color-background-alt-inverse;
  }
  .slds-type-focus {
    color: $color-text-inverse;
  }
}

.slds-table tbody th {
  padding: 0;
}
